


div.paper-effect-top,
div.paper-effect-bottom {
   position: fixed;
   top: 0; bottom: 0;
   left: 0; right: 0;

   /*border-radius: 1px;*/
}

@media (min-width: 426px) and (max-width: 768px) {
   div.paper-effect-top,
   div.paper-effect-bottom {
      /*left: 17.85%;*/
      left: 8%; right: 8%;
   }
}

div.paper-effect-top {
   z-index: -1;

   box-shadow: inset 0 32px 20px -30px #000, inset 0 -32px 20px -30px #000;
}

div.paper-effect-bottom {
   z-index: -2;

   background-color: hsl(44, 100%, 95%);

   border-left-width: 1px;
   border-left-color: hsl(44, 100%, 90%);
   border-left-style: solid;
   border-right-width: 1px;
   border-right-color: hsl(44, 100%, 90%);
   border-right-style: solid;
}






/*br {
   display: none;
}*/



.m-hidden {
   display: none !important;
}




#aside {

}


.mood {
   /*vertical-align: top;*/
   /*margin: 5px 0 0 5px;*/
   /*height: 48px;*/
}

.autor {
   position: relative;
   z-index: 1;

   margin: 5px 0 0 5px;
   height: 70px;
}

.burger {
   position: relative;
   z-index: 1;

   background: url("../icons/menu_svg.svg") 50%/50% no-repeat;
   border: 1px solid #0003;
   border-radius: 3px;

   float: right;
   /*position: absolute;*/
   /*right: 0;*/

   width: 48px;
   height: 48px;

   margin: 5px 5px 2px 0;
   
}   
.primary-nav-box {
   background-color: hsl(219, 80%, 95%, 0.95);
   position: fixed;

   left: 0; right: 0;
   top: 0; bottom: 0;
}

.nav {
   margin-top: 35vh;
}

.nav > a {

   text-align: center;

   line-height: 145% !important;
   /*padding: 2px 0;*/
}

.container {
   padding: 1%;
}
@media (min-width: 426px) and (max-width: 768px) {
   h1 {
      text-align: left;
   }

   .container {
      padding-left: 20%;
      padding-left: 2.15%;

      /*margin-left: 17.85%;*/
      margin-left: 8%;
      margin-right: 8%;

      /*padding-right: 5%;*/
   }

}


.footer {
   /*margin: 5px 10px 0 0;*/
   /*text-align: right;*/

   /*margin: 0 10px 5px 0;*/
   /*text-align: right;*/

   display: none;
}






/*
  ========================================
  Typography
  ========================================
*/



h1 {
   text-align: center;
}